.btn {
  padding: 10px 20px;
  color: #fff;
  border: thin solid #fff;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.login {
  width: 100%;
  background-color: #9a6e41 !important;
  opacity: 0.8;
  margin: 10px 0;
}

.login:hover {
  opacity: 1;
}

.social {
  border: thin solid #9a6e41;
  color: #000;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}
