.btn {
  padding: 10px 20px;
  color: #fff;
  border: thin solid #fff;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
