.wrapper {
  background-size: cover;
  height: 50vh;
  position: relative;
  transition: transform 0.3s;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 70%;
}

.content h3 {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 800;
  animation: 2s slide-up;
}

.content p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}
