.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: overlay;
}

.container {
  color: white;
  opacity: 1;
  max-width: 1200px;
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
  color: #000;
}
