.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  opacity: 1;
  position: absolute;
  max-width: 800px;
  width: 100%;
  background-color: white;
  display: flex;
  color: #000;
}
