.sectionContent {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.indicators > button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #fff;
  padding: 0;
  transition: all 0.3s;
}

.indicators > button:last-child {
  margin-right: unset;
}

.indicators > button:hover {
  background-color: #fff;
  opacity: 0.6;
}

.directionIcon {
  width: 30px;
  color: #fff;
}

.direction a {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(1);
  user-select: none;
}

.direction a:nth-child(2) {
  right: 30px;
  left: unset;
}
